.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#new-note-title {
  height: 25%;
  width: 100%
}

#new-note-body {
  height: 60px;
  width: 100%;
}

#notes-list {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-decoration: none !important;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#note {
  grid-column: 2 / 4;
  grid-row-start: 2;
}

#note-title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-style: none;
}

#note-body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  border-style: none;
  padding: none;
  width: 80%;
  height: 240px;
  white-space: pre-wrap;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: rgb(27, 177, 236);
}

li {
  list-style: none;
}

