.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#notes-list {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-decoration: none !important;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#note {
  grid-column: 2 / 4;
  grid-row-start: 2;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: rgb(27, 177, 236);
}

li {
  list-style: none;
}

